{% extends "padre/padre.html" %}

{% block title %}
Crear estudiante
{% endblock title %}

{% block main %}

 {% if Studiante.errors%}
 <p style="color:red"> Datos incorrectos, favor revisar</p>
 {%endif%}

 <form action ="/Formulario estudiante/" method="post">{%csrf_token %}
    <table>
        {{Studiante.as_table}}
    </table>

    <input type = "submit" value="Crear Estudiante">
       
 <form >
{% endblock main %}
{% block centro %}
He creado un formulario. ALELUYA! <Base></Base>
{% endblock centro %}