{% extends "padre/padre.html" %}

{% block title %}
Crear libro
{% endblock title %}

{% block main %}

 {% if variablebiblio.errors%}
 <p style="color:red"> Datos incorrectos, favor revisar</p>
 {%endif%}

 <form action ="/Asociar Bibliografia/" method="POST">{%csrf_token %}
    <table>
        {{variablebiblio.as_table}}
    </table>

    <input type = "submit" value="Crear Libro">
       
 <form >
{% endblock main %}
{% block centro %}
He creado un formulario. ALELUYA! <Base></Base>
{% endblock centro %}